@model Website.Models.StatisticSummaryViewModel

<h2>Statistics</h2>

<h3>At a Glance</h3>
<p>Total games played: @Model.TotalGamesPlayed</p>
<p>Highest score: @Model.HighestScore.Score by @Model.HighestScore.User</p>
<p>Lowest score: @Model.LowestScore.Score by @Model.LowestScore.User</p>


<h3>Latest Scores</h3>
@foreach(var score in @Model.Scores)
{
    <p>@score.Score scored by @score.User on @score.Date</p>
}